body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #B80000, #FFC96F, #FFE8C8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    background-color: white;
    border-collapse: collapse;
    margin: 20px 0;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    cursor: pointer;
}

.judul {
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
}