    *{
        box-sizing: border-box;

    }

    html, body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;

    }

    body {
        background-color: #7672e0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
/* UKURAN KOTAKAN CARD */
    .cards {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        margin: 1em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-left: 200px;
        
    }
/* posisi card */
    .card {
        margin-right: 25px;
        margin-top: 75px;
        margin-bottom: 25px;
        margin-right: 25px;
        background-color: #fff;
        width: 30%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        /* box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1); */

    }
/* ukuran keseluruhan card */
    .card-img {
        width: 100%;
        height: 235px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        visibility: hidden;
        background-size: conver;
        background-position: center;
        background-repeat: no-repeat;
        
    }
/* ukuran gambar sebelum membesar */
    .card-img-1 {
        background-size: conver;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 235px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        top: 0;
        transition: 0.2s all ease-out;
    }
/* tampilan gambar membesar */
    .card:hover .card-img-1 {
        height: 100%;
        opacity: 0.3;

    }



    .card:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
        transform: scale(1.1, 1.1);
    }

    .card-info {
        z-index: 2;
        background-color: aliceblue;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        padding: 16px 24px 24px 24px;

    } 

    .card-category {
        font-family: "raleway", sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-style: 500;
        color: rgb(58, 124, 0);
    }

    .card-title {
        margin-top: 5px;
        margin-bottom: 10px;

    }

    .card-by {
        font-size: 12px;
        font-family: "raleway", sans-serif;
        font-weight: 500;
    }

/* buat link */
    .card-admin {
        font-weight: 600;
        text-decoration: none;
        color: rgb(249, 133, 0);
        
    }

    .card:hover .card-info {
        background-color: transparent;
        position: relative;
        
    }

    @media screen and (max-width: 700px) {
        .card {
            width: 20em;
            display: block;
            margin: 1em;

        }

        body {
            display: flex;
            align-items: flex-start;

        }
    }